html, body {
    margin: 0;
    height: 100%;
}
.background{
    background: url('assets/background-opacity.png')no-repeat;
    background-position: center;
    background-size: contain;
}

.team-info{
    background: lightgrey;
}

.title{
    font-size: larger;
    font-weight: bold;
}